<div>
{{#if isAuthorized}}
  <h3>Новый звук:</h3>
  <form method="POST" action="/formAnimal" name="addCardForm" class="addCard"> 
 <select name="home">
  <option value="1">Человейник</option>
  <option value="2">Домяра, участок и все такое</option>
</select>
 <select name="money">
  <option value="1">Последний х.й без соли доедаю</option>
  <option value="2">Жить можно</option>
  <option value="3">Bezos mode</option>
</select>
 <select name="time">
  <option value="1">Нет времени читать эту писанину</option>
  <option value="2">Немного есть</option>
  <option value="3">Времени в достатке</option>
</select>
 <select name="location">
  <option value="1">Тепло</option>
  <option value="2">Холодно</option>
</select>
    <br><button type="submit">Запостить звук!</button>
  </form>  
</div>
  {{else}}
<p>что то</p>
{{/if}}
<div id="animalName">

</div>
