<div>
  <p>Что здесь происходит?</p>
  <p>Если ты решил завести питомца и подойти ответственно к этому делу, то ты пришел по адресу.
     Этот сервис поможет тебе на основании введенных тобою данных подобрать домашнее животное.
     Ты получишь несколько вариантов и сможешь выбрать себе нового друга.
  </p>
  <p>Как это работает?</p>
  <p>
    Всё просто. В нескольких формах тебе будет предложено выбрать параметров.
    Выбирай варианты наиболее соответствующие твоему текущему положение.
    А дальше наш ИИ подберет вам наиболее подходящие варианты. 
  </p>
</div>

<div>
{{#if isAuthorized}}
  <h3>Что то появится при авторизации</h3>
</div>
{{else}}
<p>Чтобы увидеть своего нового друга, пожалуйста, авторизуйтесь.</p>
{{/if}}

{{!-- <h2>Популярные звуки:</h2>
{{#each soundsAll}}
  <div class="onecard">
  <ul class="cart">
    <li name="descriptionContainer">{{this.User.name}} запостил:</li>
    <div class="sounds">
       <li class="nameContainer">{{this.text}}</li>
      <li name="descriptionContainer"><img src="{{this.photo}}" alt="place_for_pic"></li>
    </div>
  </ul>
  </div>
{{/each}} --}}
