<div class="mainDescribe">
  <div class="mainBlock">
    <p>Что здесь происходит?</p>
    <p>Если ты решил завести питомца и подойти ответственно к этому делу, то ты пришел по адресу.
      Этот сервис поможет, на основании введенных тобою данных, подобрать домашнее животное.
      Ты получишь несколько вариантов и сможешь выбрать себе нового друга.
    </p>
  </div>
  <div class="mainBlock">
    <p>Как это работает?</p>
    <p>
      Всё просто. В нескольких формах тебе будет предложено выбрать определенные параметры.
      Выбирай варианты наиболее соответствующие твоему текущему положение.
      А дальше наш ИИ подберет тебе наиболее подходящие варианты. 
    </p>
  </div>

  <div class="mainBlock">
  {{#if isAuthorized}}
   <p>Теперь можно смело переходить к подбору!</p>
  </div>
  {{else}}
  <div class="">
    <p>Чтобы увидеть своего нового друга, пожалуйста, авторизуйтесь.</p>
  </div>
  {{/if}}
</div>
