<!DOCTYPE html>
<html lang="ru">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MyLittleBrother</title>
  <script defer src="/js/client.js"></script>
  <script defer src="/js/card.js"></script>
  {{!-- <link rel="stylesheet" href="/style/mystyle.css"> --}}
</head>
<body>
<header>
  <h1>My Little Brother</h1>
      <nav>
        <ul>
          {{#if isAuthorized}}
            <h4>Привет, {{{name}}}!</h4>
            <li><a href="/">Главная</a></li>
            <li><a href="/profile">Личный кабинет</a></li>
            <li><a href="/formAnimal">Форма</a></li>
            <li><a href="/logout">Выйти</a></li>
          {{else}}
            <li><a href="/login">Войти</a></li>
            <li><a href="/registration">Зарегистрироваться</a></li>
          {{/if}}
        </ul>
    </nav>
</header>
 {{{body}}}
</body>
</html>
