<h3>Авторизация</h3>
<form method="POST" action="/login" name="loginForm" class="form">
  <div>
    <input name="email" type="text" placeholder="Email" required>
  </div>
  <div><input name="password" type="password" minlength="8" placeholder="Пароль" required>
  </div>
  <br><button type="submit">Войти</button>
</form>
