<form method="POST" action="/login" name="loginForm" class="form">
  <div class="container">
    <h2 class="autoReg">Авторизация</h2>
    <hr>
   <div>
    <label for="email">Email:</label>
    <input class="inputForm" name="email" type="email" placeholder="Email" required>
   </div>
   <div>
     <label for="password">Пароль:</label>
     <input class="inputForm" name="password" type="password" minlength="8" placeholder="Password" required>
   </div>
   <hr>
   <br><button type="submit" class="login-button">Войти</button>
  </div>
</form>
