<h2>Регистрация</h2>
<form method="POST" action="/registration" name="registrationForm" class="form">
  <div class="email">
      <p>
        <label for="email">Email:</label>
        <input type="email" name="email" id="email" placeholder="Email" required>
      </p>
    </div>
    <div class="userName">
      <p>
        <label for="name">Твой ник:</label>
        <input type="text" name="name" id="name" placeholder="Ник" required>
      </p>
    </div>
    <div class="password">
      <p>
        <label for="password">Пароль:</label>
        <input type="password" name="password" id="password" minlength="8" placeholder="Пароль">
      </p>
    </div>
    <p class="login-submit">
      <button type="submit" class="login-button">Зарегистрироваться</button>
    </p>
</form>
