<form method="POST" action="/registration" name="registrationForm" class="form">
  <div class="container">
    <h2>Регистрация</h2>
    <hr>
      <div class="email">
      <p>
        <label for="email">Email:</label>
        <input class="inputForm" type="email" name="email" id="email" placeholder="Email" required>
      </p>
    </div>
    <div class="userName">
      <p>
        <label for="name">Имя:</label>
        <input class="inputForm" type="text" name="name" id="name" placeholder="Name" required>
      </p>
    </div>
    <div class="password">
      <p>
        <label for="password">Пароль:</label>
        <input class="inputForm" type="password" name="password" id="password" minlength="8" placeholder="Password">
      </p>
    </div>
    <hr>
    <p class="login-submit">
      <button type="submit" class="login-button">Зарегистрироваться</button>
    </p>
  </div>
</form>
