body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
  background: #fff url(https://phonoteka.org/uploads/posts/2021-04/1618371071_56-phonoteka_org-p-abstraktnii-letnii-fon-59.jpg) no-repeat center center fixed;
  background-size: cover;
}

.container {
  padding: 16px;
  max-width: 400px;
  outline: 2px solid #000; /* Чёрная рамка */
  border-radius: 10px; /* Радиус скругления */
  text-align: center;
  margin:0 auto;
  background: #feffe0;
  font-size: 20px;
}

input[type=text], input[type=password], [type=email] {
  width: 90%;
  padding: 15px;
  margin: 5px 0 22px 0;
  display: inline-block;
  background: #f1f1f1;
  border-radius: 10px; /* Радиус скругления */
}

input[type=text]:focus, input[type=password]:focus, input[type=email]:focus {
  background-color: #ddd;
  outline: none;
}

hr {
  border: 1px solid #d4d2d2;
  margin-bottom: 25px;
}

.login-button {
  background-color: #4CAF50;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 70%;
  opacity: 0.7;
  border-radius: 10px; /* Радиус скругления */
  font-size: 20px;
}

.login-button:hover {
  opacity:1;
}

.buttonDelete {
  background-color: #4592eb;
  color: white;
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px; /* Радиус скругления */
  font-size: 20px;

}

.buttonDelete:hover {
  opacity:1;
}

.btnAnimal{
  background-color: #4CAF50;
  color: rgb(8, 8, 8);
  padding: 16px 20px;
  margin: 8px 0;
  cursor: pointer;
  width: 100%;
  opacity: 0.7;
  border-radius: 10px; /* Радиус скругления */
  font-size: 25px;
}

.btnAnimal:hover {
  opacity:1;
}

.mainDescribe {
  display: flex;
}

.mainBlock {
  /* margin-right: auto;
  margin-left: auto; */
  position:relative;
  width: 80%;
  border-radius: 10px;
  background: linear-gradient(to bottom right, #fffff8, #a9a997);
  box-shadow:  33px 33px 48px #8a8686,
              -33px -33px 48px #eae4e4;

padding: 10px;
margin: 50px;
font-family: Georgia, serif;
font-size: 23px;
word-spacing: 1px;
color: #000000;
font-variant: small-caps;
outline: 2px solid #000;
}

header{
  display: flex;
  justify-content: center;
  align-items: center;
  border: 5px double #706766;
  border-radius: 10px;
  margin-bottom: 80px;
}

.mainList {
  /* display: flex;
  flex-direction: column; */
  margin-left: auto;
  margin-right: 40px;
}

.heading {
  margin-left: 30px;
  font-family: Georgia, serif;
  font-size: 40px;
  word-spacing: 1px;
  color: #000000;
  font-variant: small-caps;
  text-shadow: 3px 3px 0px rgba(0,0,0,0.1), 7px 7px 0px rgba(0,0,0,0.05);
}

a {
  display: inline-block;
  text-decoration: none;
  text-transform: uppercase;
  margin: 5px;
  padding: 5px 5px;
  font-size: 20px;
  font-family: 'Montserrat', sans-serif;
  transition: 0.4s ease-in-out;
  border-radius: 10px;
  color: #40382D;
  box-shadow: inset 0 -5px 0 #40382D;
}

a:hover {
  box-shadow: inset 0 -60px 0 #40382D, 2px 2px 3px rgba(0, 0, 0, 0.3);
  color: #DECDA5;
}

img {
  width:auto;
  height:auto;
  max-width:300px!important;
  max-height:300px!important;
  border-radius: 10px;
  border: 2px solid #0d0d0e;
  }

.formAnimal {
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
  margin: 30px;
}

select {
  display: block;
  width: 100%; /* от ширины блока div */
  padding: .75rem 2.5rem .75rem 1rem;/* отступы от текста до рамки */
  background: rgb(238, 237, 202); /* убираем фон */
  border-radius: 10px;/* скругление полей формы */
  font-family: inherit;/* наследует от родителя */
  font-size: 1rem;
  margin: 10px;
  
}

.inForm {
  margin-bottom: 50px;
}

.animalName{
  text-align: center;
  font-size: 30px;
  font-size: 25px;
  font-family: 'Montserrat', sans-serif;
}

.animalByUser{
  display: flex;
  flex-wrap:wrap;
  justify-content: center;
  align-items: baseline;
}
